.app-container {
    display: flex ;
    flex-direction: column, row;
    gap: 20px;
    padding: 1rem;
    background-color: rgb( 190, 198, 196);
  }
  
  
  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th,
  td {
    border: 1px solid rgb(0, 0, 0);
    text-align: left;
    padding: 8px;
    font-size: 32px;
  }
  
  form {
    display: flex;
    gap: 5px;
  }
  
  form td :last-child{
    display: flex;
    justify-content: space-evenly;
  }
  
  form *{
    font-size: 28px;
  }
  