/* .map{
    width: 80%;
    height: 400px;
    object-fit: center;
} */


.app-container {
    display: flex ;
    flex-direction: column, row;
    gap: 20px;
    padding: 1rem;
    background-color: rgb( 190, 198, 196);
    border-radius: 15px 30px 30px 15px;
}


table {
    border-collapse: collapse;
    width: 100%;
} 
th,
td {
    border-radius: 15px 50px 30px 5px;
    border: 1px solid rgb(0, 0, 0);
    text-align: left;
    padding: 8px;
    font-size: 32px;
  }
  
  form {
    display: flex;
    gap: 5px;
  }
  
  form td :last-child{
    display: flex;
    justify-content: space-evenly;
  }
  
  form *{
    font-size: 28px;
  }
  