.scan{
    width: 780px;
    height: 300px;
    border: 3px;
    font-size: 20px;
    font-size: 20px;
    color: black;
    background-color:rgba(138, 214, 139, 0.809);
    opacity: .9;
    
    
}
.qrcode{
position: absolute;
   top: 127px;
   right: 0px;
   width: 300px;
   height: 302px;
}
