.scan{
    width: 850px;
    height: 300px;
    border: 3px;
    font-size: 20px;
    font-size: 20px;
    color: black;
    background-color:rgba(190, 198, 196);
    opacity: .95;
    
    
}
.qrcode{
position: absolute;
   top: 127px;
   right: 30px;
   width: 300px;
   height: 302px;
}
