 body{
    display: grid;
} 
.slider {
    height: 250px;
    margin: auto;
    position: relative;
    width: 90%;
    display: grid;
    place-items: center;
}
.slide-track{
    display: flex;
    width: calc(250px *18);
    animation: scroll 50s linear infinite;
}
@keyframes scroll{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(calc(-250px*9));
    }
}
.slide {
    height: 500px;
    width: 400px;
    display: flex;
    align-items: center;
    padding: 15px;
    perspective: 100px;
}
img{
    height: 80%;
    width: 80%;
    transition: transform 30%;
}
img:hover{
    transform: translateZ(20px);
}
.slider::before,
.slider::after{
    background: linear-gradient(to right, rgb(250, 249, 249) 0%,
    rgb(255, 255, 255, 0) 100%);
    contain: '';
    height: 100%;
    position: absolute;
    width: 15%;
    z-index: 2;
}
.slider::before{
    left: 0;
    right: 0;
}